<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 <title>Register</title>
</head>
 
<body>
 <div><%- include('partials/_header') %></div>
 <h5>Register</h5>
 <div>
   <hr />
 </div>
 
 <div>
   <form method="POST" action="/register">
     <label for="newUser">Email: </label>
     <input type="text" name="newUser">
     <hr />
     <label for="loginPass">Password: </label>
     <input type="password" name="newPass">
     <button type="submit">Submit</button>
   </form>
 </div>
 
</body>
</html>
 
